@use "./components/layout";
@use "./components/navbar";
@use "./components/footer";
@use "./components/chat";
@use "./components/forms";

* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}
